<section>
  <%= form_for @service do |f| %>
      <div class="dashboardPageTitle text-center">
        <h3 class="text-center">Broadcast Your Service</h3>
      </div>
      <div class="dashboardBoxBg mb30">
        <div class="profileIntro paraMargin">
          <h4>Warning</h4>
          <p>Please ensure that any service that you offer is lawful and legitimate. Also note that offering services that cannot be delivered is impossible on Konfam. So think twice before listing any services that you cannot deliver.</p>
          <div class="row">
            <!-- <div class="form-group col-sm-6 col-xs-12">
              <label for="listingTitle">Listing Title</label>
              <input type="text" class="form-control" id="listingTitle" placeholder="Listing Title">
            </div> -->
            <div class="form-group col-sm-6 col-xs-12 text-center">
              <label for="listingCategory">Service Category</label>
              <%= f.select :service_category, [["Kids Clothing","Kids Clothing"],["Mens Clothing","Mens Clothing"], ["Womens Clothing","Womens Clothing"], ["Traditional Attire","Traditional Attire"],["Uniforms","Uniforms"], ["Sportswear","Sportswear"]], id: "category_type", prompt: "Select...", class: "contactSelect" %>
            </div>
            <!-- <div class="form-group col-xs-12">
              <label for="discribeTheListing">Discribe the listing</label>
              <textarea class="form-control" rows="3" placeholder="Discribe the listing"></textarea>
            </div> -->


            <div class="text-center actions">
              <%= f.submit "Begin", class: "btn btn-primary"%>
            </div>
          </div>
        </div>
      </div>
  <% end %>

</section>
