<section>
  <div class="row">
    <div class="col-md-3">
      <%= render 'items/shared/item_menu' %>
    </div>
    <div class="col-md-9">

          <%= form_for @item do |f| %>
            <div class="dashboardBoxBg mb30 no-border">
              <div class="profileIntro paraMargin">
                <p>Please note that a 20% service fee is charged on all successful sales of the items you list on Konfam.</p>
                <div class="row">
                  <div class="form-group col-sm-12">
                    <label for="listingCategory">Item Price</label>
                    <%= f.text_field :price, placeholder: "e.g. 1000", required: true, class: "form-control" %>
                  </div>
                  <div class="text-center actions">
                    <%= f.submit "Save Price", class: "btn btn-primary"%>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

    </div>
  </div>
</section>
